<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/plantilla :: head">  
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h1>Informacion</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15719.922365837892!2d-84.0357529!3d9.9355726!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e3aa66fa362b%3A0xf134cee2340078e2!2sStem%20Center%20Fid%C3%A9litas!5e0!3m2!1ses-419!2scr!4v1730211184940!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
